<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Store_Setup_Payment</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
		                	<form id="form3" method="post">
		                
		                    	<div class="wizard-header">
		                        	<h4 class="wizard-title" style="text-align:center;font-weight:600" id="bottomspace">Welcome to Cadenza 	Setup</h4>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
			                            <li>
			                            	<div class="productone">
			                            		<div class="producticon">
				                            		<img src="assets/img/store_setup/barcode-product-wt.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#" onclick="location.href='#';" data-toggle="tab" id="productlink">
												<div class="icon-circle">
													<!-- <i class="ti-map"></i> -->
												</div>
												Product
											</a>
										</li>
			                            <li>
			                            	<div id="basketone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/picnic.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="baskettwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/picnic-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>

											<a href="#basket" onclick="location.href='#';" data-toggle="tab" id="basketlink">
												<div class="icon-circle">
													<!-- <i class="ti-direction-alt"></i> -->
												</div>
												Basket
											</a>
										</li>
			                            <li>
			                            	<div id="planone">
			                            		<div class="planicon">
				                            		<img src="assets/img/store_setup/strategy.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="plantwo">
			                            		<div class="plantwoicon">
				                            		<img src="assets/img/store_setup/strategy-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#plan" onclick="location.href='#';" data-toggle="tab" id="planlink">
												<div class="icon-circle">
													<!-- <i class="ti-panel"></i> -->
												</div>
												Plan
											</a>
										</li>
			                            <li class="active">
			                            	<div id="paymentone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/credit-card.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="paymenttwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/credit-card-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#payment" onclick="location.href='#';" data-toggle="tab" id="paymentlink">
												<div class="icon-circle">
													<!-- <i class="ti-comments"></i> -->
												</div>
												Payment
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            <!-- PAYMENT STARTED HERE -->
		                            <div class="tab-pane active" id="payment">

		                                <div class="row">		                                    
		                                	<div class="wizard-header">
						                        	<h4 class="wizard-title" style="text-align:center;">Setup default Payments provider</h4>
						                        	<p class="category">Please select one of the options</p>
						                    	</div>
		                                    <div class="col-sm-6 col-sm-offset-3">
		                                        <div class="form-group">
		                                            <div class="choice" data-toggle="wizard-checkbox">
														<div class="row">
															<div class="col-sm-12">
																<div class="col-sm-1">
							                                        <div class="form-group">
							                                            <input type="radio" id="b1" name="subscription" value="1" onChange="disablefield();"style="left:0px;z-index:0;">
							                                        </div>
							                                    </div>
							                                    <div class="col-sm-11" style="max-width:79%; text-align:left;">
							                                    	<label style="text-align:left;">PayTM</label>
							                                    </div>

							                                    <div class="col-sm-12">

									                                <div class="row">
									                                	<div class="col-sm-9 col-sm-offset-1">
									                                    	<input type="text" class="form-control" placeholder="Merchant ID" id="MID" name="MID">
									                                    </div>
									                                </div>
									                                <br>
									                                <div class="row">
									                                    <div class="col-sm-9 col-sm-offset-1">
									                                    	<input type="text" class="form-control" placeholder="Merchant secret" id="MERCHANT_KEY" name="MERCHANT_KEY">
									                                    </div>
									                                </div>
								                                </div>

							                                </div>

							                                <p>&nbsp;</p>

							                                <div class="col-sm-12">
																<div class="col-sm-1">
							                                        <div class="form-group">
							                                            <input type="radio" id="b2" name="subscription" value="2" onChange="disablefield1();" style="left:0px;z-index:0;">
																	</div>
														
																	
							                                    </div>
							                                    <div class="col-sm-11" style="max-width:79%; text-align:left;">
							                                    	<label style="text-align:left;">Signup for PayTM</label>
																</div>
																
																<div class="col-sm-11" style="max-width:79%; text-align:left;">
																		<div class="signuplink" id="link" style="display:none;"><a href="https://business.paytm.com/">click here!</a></div>
																	</div>
							                                </div>

							                            </div>
													</div>

		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                            <!-- PAYMENT END HERE -->
		                        </div>

		                        <div class="wizard-footer">
		                        	<div class="prenextlinks">
		                        		<div class="previouslink"><a href="/plan">Back</a></div>
										<!-- <div class="nextlink"><a href="#">Finish</a></div> -->
										<div class="pull-right">
												<input type='submit' id="finish" class='btn btn-previous btn-default btn-wd'  value='Finish' />
											</div>
		                        	</div>
		                        </div>

		                        <div class="wizard-footer" style="display:none;">
	                            	<div class="pull-right">
	                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
	                                    <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
									</div>

	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Back' />
	                                </div>
	                                <div class="clearfix"></div>
		                        </div>
		                	</form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    
	</div>

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>

	<script>
		$(document).ready(function(){
			//document.getElementsByClassName("hidden")			
			//$("#basketone").show();
			$("#finish").click(function(e){
				e.preventDefault();
				var mid=$("#MID").val();
				var sid=$("#MERCHANT_KEY").val();
				var storeName=window.localStorage.getItem('storeName');
				$.ajax({
					  type:'POST',
					  url:'/admin/account_details?storeName='+storeName,
					  data:{MID:mid,MERCHANT_KEY:sid},
					  success:function(res){
						alert(res.message);
						if(res.status=="success")
						{
							//const url="http://admin."+data.storeName+".serverless9.com/store_setup";
							//console.log("url" + url);
							window.location="/admin/store_setup";
						}
					  },
					  error:function(jqXHR, textStatus, errorThrown){
					  alert('error: ' + textStatus + ': ' + errorThrown);
					  console.log(errorThrown);
					  }
					});

			});

			

			$("#baskettwo").show();

			//$("#planone").show();
			$("#plantwo").show();	

			//$("#paymentone").show();
			$("#paymenttwo").show();	
		});
	</script>	

	
</html>
