<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Store_Setup_Basket</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" /> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="assets/css/styles.css" rel="stylesheet" />
	<link href="assets/css/chosen.min.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
		                	<!-- <form action="http://ec2-35-154-68-84.ap-south-1.compute.amazonaws.com:8089/api/subscribe/addSubscribe" method="POST"  enctype="multipart/form-data"> -->
								<form action="" method="POST"  enctype="multipart/form-data" >
		                    	<div class="wizard-header">
		                        	<h4 class="wizard-title" style="text-align:center;font-weight:600" id="bottomspace">Welcome to Cadenza 	Setup</h4>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
			                            <li>
			                            	<div class="productone">
			                            		<div class="producticon">
				                            		<img src="assets/img/store_setup/barcode-product-wt.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#" onclick="location.href='#';" data-toggle="tab" id="productlink">
												<div class="icon-circle">
													<!-- <i class="ti-map"></i> -->
												</div>
												Product
											</a>
										</li>
			                            <li  class="active">
			                            	<div id="basketone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/picnic.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="baskettwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/picnic-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>

											<a href="#basket" onclick="location.href='#';" data-toggle="tab" id="basketlink">
												<div class="icon-circle">
													<!-- <i class="ti-direction-alt"></i> -->
												</div>
												Basket
											</a>
										</li>
			                            <li>
			                            	<div id="planone">
			                            		<div class="planicon">
				                            		<img src="assets/img/store_setup/strategy.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="plantwo">
			                            		<div class="plantwoicon">
				                            		<img src="assets/img/store_setup/strategy-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#plan" onclick="location.href='#';" data-toggle="tab" id="planlink">
												<div class="icon-circle">
													<!-- <i class="ti-panel"></i> -->
												</div>
												Plan
											</a>
										</li>
			                            <li>
			                            	<div id="paymentone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/credit-card.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="paymenttwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/credit-card-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#payment" onclick="location.href='#';" data-toggle="tab" id="paymentlink">
												<div class="icon-circle">
													<!-- <i class="ti-comments"></i> -->
												</div>
												Payment
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            
		                            <!-- BASKET STARTED HERE -->
		                            <div class="tab-pane active"  id="basket">
		                                <div class="col-sm-12">
	                                    	<div class="wizard-header">
					                        	<h4 class="wizard-title" style="text-align:center;">Setup your first Subscription Bundle</h4>
					                        	<p class="category">These details are visible to your consumers</p>
					                    	</div>
	                            		</div>

										<div class="col-sm-12">
											<div class="col-sm-3">
												<!-- <h5 class="info-text"> Please tell us more about yourself.</h5> -->
													<div class="col-sm-12">
														<div class="picture-container">
															<div class="picture">
																<img src="assets/img/default-avatar.jpg" class="picture-src" id="wizardPicturePreview" title="" />
																<input type="file" id="wizard-picture"  name="image">
															</div>
															<h6>Choose Picture</h6>
														</div>
													</div>
											</div>
											<div class="col-sm-5">
												<div class="choice" data-toggle="wizard-checkbox">
														<div class="form-group">
																<input type="hidden" class="form-control" id="token"  name="token">
									
																<input type="hidden" class="form-control" id="collectionType" value="basket" name="collectionType">
														</div>
													<div class="form-group">
								                    	<input type="text" class="form-control" id="title" placeholder="Subscription Name"  name="title">
								                	</div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                    	<input type="text" class="form-control" id="description" placeholder="Subscription Description" name="description">
								                	</div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                    	<input type="text" class="form-control" id="collectionId" value="<%=SKU%>" placeholder="Subscription SKU" name="collectionId" readonly>
								                	</div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-8">
						                                        <div class="form-group">
						                                            <label style="top: 10px;position: relative;">Re-order Schedule : Every</label>
						                                        </div>
						                                    </div>
						                                    <div class="col-sm-4">
						                                    	<input type="text" class="form-control" id="frequency" name="frequency" style="text-align:center;">
						                                    </div>
						                                </div>
					                                </div>
												</div>

				<div class="choice" data-toggle="wizard-checkbox">
					<div class="form-group">
							<select class="chosen-select" multiple="multiple" name="subscriptionProducts" id="subscriptionProducts" style="width:200px;">
								<% var sum=0;%>
							<% for(let j = 0; j < productCount; j++) { %>
								<option value="<%=products[j].collectionId%>"><%=products[j].title%></option>
						
								<%   sum+=products[j].price %>
								<% } %>
								
							</select>
							<input type="hidden" class="form-control" id="srp" value="<%= sum %>" name="srp">
	
					</div>
				</div>
											</div>
											<div class="col-sm-4">
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-1">
						                                        <div class="form-group">
						                                            <input type="checkbox" name="featuredSubscription" id="featuredSubscription" style="left:0px">
						                                        </div>
						                                    </div>
						                                    <div class="col-sm-11" style="max-width:85%; text-align:left;">
						                                    	<label style="text-align:left;">Featured Subscription</label>
						                                    </div>
						                                </div>
						                            </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-1">
						                                        <div class="form-group">
						                                            <input type="checkbox" name="shippingFree"  id="shippingFree" style="left:0px">
						                                        </div>
						                                    </div>
						                                    <div class="col-sm-11" style="max-width:85%; text-align:left;">
						                                    	<label style="text-align:left;">Shipping Free</label>
						                                    </div>
						                                </div>
						                            </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-1">
						                                        <div class="form-group">
																	<input type="checkbox" name="freeTrail" id="freeTrail" style="left:0px">
																	

						                                        </div>
						                                    </div>
						                                    <div class="col-sm-11" style="max-width:85%; text-align:left;">
						                                    	<label style="text-align:left;">Free Trail</label>
						                                    </div>
						                                </div>
						                            </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
														
								                        <select name="freeTrailDays"  id="freeTrailDays" class="form-control">
								                            <option disabled="" selected="">Free Trail Days</option>
								                            <option value="1">1</option>
								                            <option value="2"> 2</option>
								                            <option value="3">3 </option>
								                            <option value="...">...</option>
								                        </select>
								                    </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                        <select name="expiryDate" id="expiryDate" class="form-control">
								                            <option disabled="" selected=""> Month </option>
								                            <option value="Jan"> 1 </option>
								                            <option value="Feb"> 2 </option>
								                            <option value="March"> 3 </option>
								                            <option value="...">...</option>
								                        </select>
								                    </div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
														<div class="tooltipinfo"> 
															<a class="toolindex">?</a>
															<div class="toolinfobasket">Stuff shown on hoverStuff shown on hoverStuff shown on hoverStuff shown on hover</div>
														 </div>
								                    </div>
												</div>



											</div>
										</div>
		                            </div>
		                            <!-- BASKET END HERE -->
		                        </div>
		                        <div class="wizard-footer" id="prenextlinksid">
		                        	<div class="prenextlinks">
		                        		<div class="previouslink"><a href="/admin/product">Back</a></div>
										<!-- <div class="nextlink"><a href="/plan">Next</a></div> -->
										<div class="pull-right">
										  <input type='submit' id="post_basket" class='btn btn-next btn-fill btn-success btn-wd' value='Next' />
										</div>
		                        	</div>
		                        </div>

		                        <div class="wizard-footer" style="display:none;">
	                            	<div class="pull-right">
	                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
	                                    <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
									</div>

	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Back' />
	                                </div>
	                                <div class="clearfix"></div>
		                        </div>
		                	</form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->
	</div>

		<!-- MOdal starts here -->  
		<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">Your Product is successfully added</h4>
					</div>
					<div class="modal-body" id="model_body">
					</div>
					<div class="modal-footer">
					  <button type="button" id="singleProducts" class="btn btn-default" data-dismiss="modal">close</button>
					</div>
				  </div>
				</div>
			</div>
			<!-- Modal ends here -->


</body>

	<!--   Core JS Files   -->

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>


	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="assets/js/chosen.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 $(".chosen-select").chosen();
	</script>
	

	<style type="text/css">
		.wizard-card[data-color="green"] .nav-pills > li.active > a:after {background-color: #fec63d;}

	</style>
	<script>
		$(document).ready(function(){
			var token=window.localStorage.getItem('token');
			console.log("token"+ token);
			//alert(token);
			//var token=$("#tid").html();
			$("#token").val(token);
			//$("#token").val(token);			
			//$("#basketone").show();
			$("#baskettwo").show();

			//$("#planone").show();
			$("#plantwo").hide();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();	
		});
	</script>
	<script type="text/javascript">

		$(document).ready(function(){
			$("#post_basket").click(function(e){
				e.preventDefault();
				var products = [];
        		$.each($(".chosen-select option:selected"), function(){            
            		products.push($(this).val());
				});
				var token=window.localStorage.getItem('token');
				var file=document.getElementById("wizard-picture").files[0];
				var collectionId=document.getElementById("collectionId").value;
				var description=document.getElementById("description").value;
				var title=document.getElementById("title").value;
				var srp=document.getElementById("srp").value;
				var frequency=document.getElementById("frequency").value;
				var expiryDate=document.getElementById("expiryDate").value;
				var subscriptionProducts=document.getElementById("subscriptionProducts").value;
				var featuredSubscription=document.getElementById("featuredSubscription").value;
				var shippingFree=document.getElementById("shippingFree").value;
				var freeTrail=document.getElementById("freeTrail").value;
				var freeTrailDays=document.getElementById("freeTrailDays").value;
	
				formdata = new FormData(); 
				formdata.append("token",token);
				formdata.append("image",file);
				formdata.append("collectionId",collectionId);
				formdata.append("description",description);
				formdata.append("srp",srp);
				formdata.append("title",title);
				formdata.append("frequency",frequency);
				formdata.append("expiryDate",expiryDate);
				formdata.append("subscriptionProducts","["+products+"]");
				formdata.append("featuredSubscription",featuredSubscription);
				formdata.append("shippingFree",shippingFree);
				formdata.append("freeTrail",freeTrail);
				formdata.append("freeTrailDays",freeTrailDays);
				console.log("suma:"+ subscriptionProducts);
				$.ajax({
				url:'https://ec2-35-154-68-84.ap-south-1.compute.amazonaws.com:8089/api/subscribe/addSubscribe',
				method: 'POST',
				data:formdata,
				processData: false, 
				contentType: false,
				success:function(data){
					//alert("success");
					//console.log(JSON.stringify(data));
								        
					// var tab = "";
					// tab+='<p>Would you like to add one more Product?</p>';
					// tab+='<div class="pull-right">';
					// tab+= '<button type="button"  class="btn btn-default text-center yes">Yes</button>';
					// tab+='</div>';
					// tab+='<div class="pull-left">';
					// tab += '<button type="button"  class="btn btn-default text-center no">No</button>';
					// tab+='</div>';
					// $('#model_body').html(tab);
					// $('#myModal').modal('show');
					var collectionId=document.getElementById("collectionId").value;
					window.location="/admin/plan?sku="+collectionId;
	
				},
				error:function(jqXHR, textStatus, errorThrown){
						  alert('error: ' + textStatus + ': ' + errorThrown);
				  console.log(errorThrown);
				  }
				});
			})
		});
		$(document).ready(function(e){
        	$(document).on('click','.yes', addBasket);
		});
		function addBasket(){
			$('#myModal').modal('hide');
			var storeName=window.localStorage.getItem('storeName');
			window.location="/basket?storeName="+storeName;

		}
		$(document).ready(function(e){
			$(document).on('click','.no', next);
		});
		function next(){
			$('#myModal').modal('hide');
			var collectionId=document.getElementById("collectionId").value;
			window.location="/plan?sku="+collectionId;
		}

		</script>

</html>
